{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y"],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-named-default": 0,
    "import/extensions": [0, { "js": "never", "json": "always" }],
    "import/order": 0,
    "class-methods-use-this": 0,
    "no-undef": 0,
    "no-restricted-globals": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "radix": [0, "as-needed"],
    "comma-dangle": [0, "never"],
    "arrow-parens": [0, "as-needed"],
    "react/jsx-one-expression-per-line": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": [0, 2],
    "react/jsx-indent": [0, 2],
    "react/destructuring-assignment": 0,
    "react/react-in-jsx-scope": 0,
    "react/button-has-type": 0,
    "react/no-array-index-key": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-wrap-multilines": [
      0,
      { "arrow": true, "return": true, "declaration": true }
    ],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-associated-control": [
      0,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      0,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ]
  }
}
